/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;

  /*To bring the all the entire numbers in the middle of the page using flex container:*/
  display: flex;
  justify-content: center;
}

.paginations {
  /* background-color: rgb(224, 207, 207); */
  /* width: 800px; we don't need width here, because we don't use margin: a-value auto to center the content, rather w use the flex conainer as explained above in the body. */
  margin-top: 300px;

  /*To bring all the items on the page in a row and center them horizontally and vertically!*/
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.btn-caret {
  background: none; /*to remove the default background color of the button*/
  border: 1px solid #087f5b;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  cursor: pointer;

  /*To center both carets in relation to the buttons side by side, we use display flex*/
  display: flex;
  align-items: center;
  justify-content: center;
}

/* We need to these two below statements to get the SVG hovered, when i hover on the button enclosed SVG:///////////////////// */
.btn-caret:hover {
  background-color: #087f5b;
}

/*with the below statement, when we hover the button surrounded SVG, the SVG would be white color!*/
.btn-caret:hover .caret-icon {
  stroke: #fff;
}

/*but with the below statement, when i hover over the circle button, the SVG will not become white color and as soon as i enter in SVG zone, it will be white, what we don't want, that's why i comment the below statement out!*/
/* .caret-icon:hover {
  stroke: #fff;
} */
/* //////////////////////////////// */

.caret-icon {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

.pagination {
  height: 36px;
  width: 36px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #087f5b;
  text-decoration: none;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination:hover {
  background-color: #087f5b;
  color: #fff;
}

/* .pagination:hover,
:active {
  background-color: #087f5b;
  color: #fff;
} */

/* .pagination:link,
:visited {
  font-size: 18px;
  color: #343a40;
} */

.number-three {
  background-color: #087f5b;
  color: #fff;
}

.three-dot {
  color: #868e96;
}
